<div class="container">
  <article class="media">
    <div class="media-left">
      <figure class="image is-256x256">
        <img
          class="is-rounded"
          src="https://bulma.io/images/placeholders/256x256.png"
        />
      </figure>
    </div>

    <div class="media-content">
      <h1 class="title is-1">@lalala</h1>
      <h2 class="subtitle is-3">lalaname</h2>
      <div class="media-right">
        <button class="button is-primary">Follow</button>
      </div>

      <div class="level is-mobile">
        <div class="level-item has-text-centered">
          <div>
            <p class="heading">Tweets</p>
            <p class="title">3,456</p>
          </div>
        </div>
        <div class="level-item has-text-centered">
          <div>
            <p class="heading">Following</p>
            <p class="title">123</p>
          </div>
        </div>
        <div class="level-item has-text-centered">
          <div>
            <p class="heading">Followers</p>
            <p class="title">456K</p>
          </div>
        </div>
        <div class="level-item has-text-centered">
          <div>
            <p class="heading">Likes</p>
            <p class="title">789</p>
          </div>
        </div>
      </div>
      <p class="subtitle">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio, itaque.
        Reiciendis perspiciatis blanditiis totam enim dignissimos eaque!
        Perspiciatis optio exercitationem repudiandae molestiae, architecto iste
        commodi fuga maxime sint inventore dolor.
      </p>
      <button class="button">Edit Profile</button>
    </div>
  </article>
</div>

{% comment %} slide temp {% endcomment %}

<div class="container">
  <div class="tabs is-centered">
    <ul>
      <li class="is-active"><a>Posts</a></li>
      <li><a>Saved</a></li>
    </ul>
  </div>

  <div class="columns is-mobile is-multiline is-centered">
    <div class="column is-one-quarter">
      <div class="box">
        <figure class="image is-256x256">
          <img
            src="https://bulma.io/images/placeholders/128x128.png"
            alt="Image"
          />
        </figure>
      </div>
    </div>

    <div class="column is-one-quarter">
      <div class="box">
        <figure class="image is-256x256">
          <img
            src="https://bulma.io/images/placeholders/128x128.png"
            alt="Image"
          />
        </figure>
      </div>
    </div>

    <div class="column is-one-quarter">
      <div class="box">
        <figure class="image is-256x256">
          <img
            src="https://bulma.io/images/placeholders/128x128.png"
            alt="Image"
          />
        </figure>
      </div>
    </div>

    <div class="column is-one-quarter">
      <div class="box">
        <figure class="image is-256x256">
          <img
            src="https://bulma.io/images/placeholders/128x128.png"
            alt="Image"
          />
        </figure>
      </div>
    </div>

    <div class="column is-one-quarter">
      <div class="box">
        <figure class="image is-256x256">
          <img
            src="https://bulma.io/images/placeholders/128x128.png"
            alt="Image"
          />
        </figure>
      </div>
    </div>
  </div>
</div>

{% comment %} body temp {% endcomment %}
<div class="column is-6 is-offset-3">
  <div class="card">
    <div class="card-image">
      <figure class="image is-4by3">
        <img
          src="https://bulma.io/images/placeholders/1280x960.png"
          alt="Placeholder image"
        />
      </figure>
    </div>
    <div class="card-content">
      <div class="media">
        <div class="media-left">
          <figure class="image is-48x48">
            <img
              src="https://bulma.io/images/placeholders/96x96.png"
              alt="Placeholder image"
            />
          </figure>
        </div>
        <div class="media-content">
          <p class="title is-4">John Smith</p>
          <p class="subtitle is-6">@johnsmith</p>
        </div>
      </div>

      <div class="content">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus nec
        iaculis mauris. <a>@bulmaio</a>. <a href="#">#css</a>
        <a href="#">#responsive</a>
        <br />
        <time datetime="2016-1-1">11:09 PM - 1 Jan 2016</time>
      </div>
    </div>
  </div>

  <br />
  <br />
  <br />

  <article class="media">
    <figure class="media-left">
      <p class="image is-64x64">
        <img src="https://bulma.io/images/placeholders/128x128.png" />
      </p>
    </figure>
    <div class="media-content">
      <div class="content">
        <p>
          <strong>Barbara Middleton</strong>
          <br />
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis porta
          eros lacus, nec ultricies elit blandit non. Suspendisse pellentesque
          mauris sit amet dolor blandit rutrum. Nunc in tempus turpis.
          <br />
          <small><a>Like</a> · <a>Reply</a> · 3 hrs</small>
        </p>
      </div>

      <article class="media">
        <figure class="media-left">
          <p class="image is-48x48">
            <img src="https://bulma.io/images/placeholders/96x96.png" />
          </p>
        </figure>
        <div class="media-content">
          <div class="content">
            <p>
              <strong>Sean Brown</strong>
              <br />
              Donec sollicitudin urna eget eros malesuada sagittis. Pellentesque
              habitant morbi tristique senectus et netus et malesuada fames ac
              turpis egestas. Aliquam blandit nisl a nulla sagittis, a lobortis
              leo feugiat.
              <br />
              <small><a>Like</a> · <a>Reply</a> · 2 hrs</small>
            </p>
          </div>

          <article class="media">
            Vivamus quis semper metus, non tincidunt dolor. Vivamus in mi eu
            lorem cursus ullamcorper sit amet nec massa.
          </article>

          <article class="media">
            Morbi vitae diam et purus tincidunt porttitor vel vitae augue.
            Praesent malesuada metus sed pharetra euismod. Cras tellus odio,
            tincidunt iaculis diam non, porta aliquet tortor.
          </article>
        </div>
      </article>

      <article class="media">
        <figure class="media-left">
          <p class="image is-48x48">
            <img src="https://bulma.io/images/placeholders/96x96.png" />
          </p>
        </figure>
        <div class="media-content">
          <div class="content">
            <p>
              <strong>Kayli Eunice </strong>
              <br />
              Sed convallis scelerisque mauris, non pulvinar nunc mattis vel.
              Maecenas varius felis sit amet magna vestibulum euismod malesuada
              cursus libero. Vestibulum ante ipsum primis in faucibus orci
              luctus et ultrices posuere cubilia Curae; Phasellus lacinia non
              nisl id feugiat.
              <br />
              <small><a>Like</a> · <a>Reply</a> · 2 hrs</small>
            </p>
          </div>
        </div>
      </article>
    </div>
  </article>

  <article class="media">
    <figure class="media-left">
      <p class="image is-64x64">
        <img src="https://bulma.io/images/placeholders/128x128.png" />
      </p>
    </figure>
    <div class="media-content">
      <div class="field">
        <p class="control">
          <textarea class="textarea" placeholder="Add a comment..."></textarea>
        </p>
      </div>
      <div class="field">
        <p class="control">
          <button class="button">Post comment</button>
        </p>
      </div>
    </div>
  </article>
</div>

{% comment %} login old form {% endcomment %}
<div id="login">
  <div class="container">
    <br />
    <h3 class="text-center text-danger">Login</h3>
    <br />
    <div class="form-group col-md-8">
      <label for="username" class="text-danger">Username:</label><br />
      <input type="text" name="username" id="username" class="form-control" />
    </div>
    <div class="form-group col-md-8">
      <label for="password" class="text-danger">Password:</label><br />
      <input
        type="password"
        name="password"
        id="password"
        class="form-control"
      />
    </div>
    <div class="form-group col-md-8">
      <div class="row">
        <input
          type="submit"
          id="loginButton"
          class="form-control btn btn-danger"
          value="submit"
        />
      </div>
    </div>
    <div class="form-group col-md-8">
      <div class="row">
        <a
          href="{% url 'register' %}"
          class="form-control btn btn-outline-danger"
          >Register here</a
        >
      </div>
    </div>
  </div>
</div>

{% comment %} register old {% endcomment %}

<div class="register">
  <div class="col-md-12">
    <h1 class="text-danger">Register</h1>
    <hr />
    <div class="form-group">
      <label for="InputUsername" class="text-danger">Username :</label>
      <input
        type="text"
        class="form-control"
        id="username"
        placeholder="Enter Username"
      />
      <small id="emailHelp" class="form-text text-muted"
        >We'll never share your email with anyone else.</small
      >
    </div>
    <div class="form-group">
      <label for="InputEmail" class="text-danger">Email :</label>
      <input type="email" class="form-control" id="email" placeholder="Email" />
    </div>
    <div class="form-group">
      <label for="InputPassword" class="text-danger">Password :</label>
      <input
        type="password"
        class="form-control"
        id="password"
        placeholder="Password"
      />
    </div>
    <button class="btn btn-danger" id="register">Register</button>
    <script
      src="https://code.jquery.com/jquery-3.4.1.min.js"
      integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
      crossorigin="anonymous"
    ></script>
  </div>
</div>
