{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="shortcut icon" href="{% static '/img/favicon.png'%}" />
    <link rel="icon" href="{% static '/img/favicon.png'%}" />
    <link rel="stylesheet" href="{% static '/css/bulma.css'%}" />
    <link rel="stylesheet" href="{% static '/css/style.css' %}" />
    <link
      rel="stylesheet"
      href="{% static 'css/bower_components/font-awesome/css/font-awesome.min.css' %}"
    />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">

    <title>{% block title %}{% endblock %}</title>
  </head>
  <body>
    <section class="section">
      <div class="container">
        <div class="columns is-mobile has-text-centered">
          <div class="column is-half is-offset-one-quarter">
            <div class="card login-box">
              <div class="card-content">
                <form method="post" action="" role="form">
                  {% csrf_token %}
                  <h3 class="title is-3">Login</h3>

                  <div class="field">
                    <p class="control has-icons-left">
                      <label class="label is-medium">Username</label>
                      {{ form.username }}
                      <span class="icon is-small is-left">
                        <i class="fa fa-lock"></i>
                      </span>
                    </p>
                  </div>

                  <div class="field">
                    <p class="control has-icons-left">
                      <label class="label is-medium">Password</label>
                      {{ form.password }}
                      <span class="icon is-small is-left">
                        <i class="fa fa-lock"></i>
                      </span>
                    </p>
                  </div>

                  {% if form.errors %}
                  <div class="row">
                    <div class="col s12">
                      <span style="color: red; font-weight: bold"
                        >Your username or password did not match.</span
                      >
                    </div>
                  </div>
                  {% endif %}

                  <div class="field">
                    <p class="control">
                      <button
                        type="submit"
                        value="login"
                        class="button is-success"
                      >
                        Login
                      </button>
                    </p>
                  </div>

                  <input type="hidden" name="next" value="{{ next }}" />

                  <a href="{% url 'signup' %}" class="button is-info"
                    >Create an account</a
                  >
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </body>
</html>
